@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

:root{
	--color-general:#686868;
	--color-titulos:#303030;
	--color-hover-menu:#FE8F01;
	--fondo-header:#202020;
	--fondo-footer: #353330;
	--letra-footer: #777;
}
body{
	font-size: 17px;
	color: #666;}
	
h1,h2,h3,h4,h5,h6{
	font-family: "Alegreya", serif;
	
}
header{
	background-color: var(--fondo-header);
}


#hero{
	background-image: url("../img/hero-image.jpg");
	background-size: cover;
	background-position: center;
	padding: 16% 0;
	text-align: center;
}

#hero h1 {
	color: #fff; 
	font-size: 70px;
	padding: 1% 0;
}

#hero h6{
	color: #fff;
	font-size: 18px;
}

#hero p {
	color: #fff;
	font-size: 20px;
	font-family: "Alegreya Sans", sans-serif;
  font-weight:500;
  font-style: normal;
 }

.btn-learn{
	border-radius: 2px;
    padding: 18px 40px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	border-color: transparent;
}

.btn-contact{
	border-radius: 2px;
    padding: 18px 40px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	border-color: transparent;
}


#who-we-are{
	padding: 5% 0;
}


#who-we-are h4 { 
	color: var(--color-titulos);
	font-size: 40px;
	
}

#who-we-are p{
	font-family: "Alegreya Sans", sans-serif;
	font-size: 14px;
	font-weight: 500;
}

#who-we-are u{
	font-family: "Alegreya Sans", sans-serif;
}

#location{
	padding: 5% 0;
	background-color: #F8F8F8;
}

#location p{
	font-family: "Alegreya Sans", sans-serif;
	font-size: 14px;
	font-weight: 500;
}

#baking{
	text-align: center;
	padding: 5% 0;
}

#baking p{
	font-family: "Alegreya Sans", sans-serif;
	font-size: 14px;
	font-weight: 500;
	
	
}









footer{
	background-color: var(--fondo-footer);
	padding: 15px 0;
	color: var(--letra-footer);
	text-align: center;
}
footer img {
    margin-bottom: 25px;
    margin-top: 10px;
}

